<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Panel de administración</title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>Panel de administración</h1>
	
	<script>
		function mostrarDetalles(id, direccion, telefono, email, municipio) {
			var divDetalles = document.getElementById(`user-details-${id}`);
			divDetalles.style.display = 
			 (divDetalles.style.display === "none")
				? "block"
				: divDetalles.style.display = "none";
			divDetalles.innerHTML = "<p>Dirección: " + direccion + "</p>" +
									"<p>Teléfono: " + telefono + "</p>" +
									"<p>Email: " + email + "</p>" +
									"<p>Municipio: " + municipio + "</p>";
		}
		function mostrarFormularioUsuarios() {
			window.open("", "myWindow", "width=300,height=300");
			document.getElementById("formulario-add").style.display = "block";
		}
	</script>
	<button style="width: 7px;" onclick="mostrarFormularioUsuarios()">+</button>

	<!-- Formulario para agregar usuarios -->
	<form id="formulario-add" method="POST" action="/admin/add" style="display:none;">
		<label for="nombre">nombre:</label>
		<input type="text" name="nombre" required>
		<label for="fecha_nacimiento">fecha_nacimiento:</label>
		<input type="text" name="fecha_nacimiento" required>
		<label for="direccion">direccion:</label>
		<input type="text" name="direccion" required>
		<label for="telefono">telefono:</label>
		<input type="text" name="telefono" required>
		<label for="email">email:</label>
		<input type="email" name="email" required>
		<label for="municipio">municipio:</label>
		<input type="text" name="municipio" required>
		<label for="nombre_usuario">nombre_usuario:</label>
		<input type="text" name="nombre_usuario" required>
		<label for="contrasena_usuario">contrasena_usuario:</label>
		<input type="text" name="contrasena_usuario" required>
		<label for="tipo_usuario">tipo_usuario:</label>
		<input type="text" name="tipo_usuario" required>
		<button type="submit">Agregar usuario</button>
	</form>
	
	<!-- Tabla de usuarios -->
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>nombre</th>
				<th>apellidos</th>
				<th>nombre_usuario</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% users.forEach(function(user) { %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.nombre %></td>
					<td><%= user.apellidos %></td>
					<td><%= user.nombre_usuario %></td>
					<!--
						<td><%= user.fecha_nacimiento %></td>
						<td><%= user.direccion %></td>
						<td><%= user.telefono %></td>
						<td><%= user.email %></td>
						<td><%= user.contrasena_usuario %></td>
						<td><%= user.tipo_usuario %></td>
						<td><%= user.municipio %></td>
					-->
					<td>
						<button onclick="mostrarDetalles('<%= user.id %>', '<%= user.direccion %>', '<%= user.telefono %>', '<%= user.email %>', '<%= user.municipio %>')">Mostrar detalles</button>
						<!-- Botones de acción -->
						<form method="POST" action="/admin/edit">
							<input type="hidden" name="id" value="<%= user.id %>">
							<button type="submit">Editar</button>
						</form>
						<form method="POST" action="/admin/delete">
							<input type="hidden" name="id" value="<%= user.id %>">
							<button type="submit" style="background-color:#ff0000;">Eliminar</button>
						</form>
					</td>
				</tr>
				<div id="user-details-<%= user.id %>"
					style="display: none;
					padding: 10px;
					margin: 10px;
					background-color: #ff9e4e;
					border: 1px solid #ff5f15;">
				</div>
			<% }); %>
		</tbody>
	</table>
</body>
</html>
