<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editar pedido</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>Editar pedido</h1>

	<form class="formRellenar" method="POST" action="/admin/update-order">
		<input type="hidden" name="id" value="<%= order.id %>">
		
		<label for="id_usuario">Usuario:</label>
		<select name="id_usuario" required>
			<% users.forEach(function(user) { %>
				<% if (order.id_usuario === user.id) { %>
					<option value="<%= user.id %>" selected><%= user.nombre_usuario %></option>
				<% } else { %>
					<option value="<%= user.id %>"><%= user.nombre_usuario %></option>
				<% } %>
			<% }); %>
		</select>
		
		<label for="id_restaurante">Restaurante:</label>
		<select name="id_restaurante" required>
			<% restaurants.forEach(function(restaurant) { %>
				<% if (order.id_restaurante === restaurant.id) { %>
					<option value="<%= restaurant.id %>" selected><%= restaurant.nombre %></option>
				<% } else { %>
					<option value="<%= restaurant.id %>"><%= restaurant.nombre %></option>
				<% } %>
			<% }); %>
		</select>

		<label for="direccion">Dirección:</label>
		<input type="text" name="direccion" value="<%= order.direccion %>" required>

		<label for="telefono">Teléfono:</label>
		<input type="tel" name="telefono" value="<%= order.telefono %>" required>

		<label for="precio">Precio:</label>
			<input type="range" name="precio" 
			min="0.01" max="100.00" value="<%= order.precio %>" step="0.01"
			oninput="this.nextElementSibling.value = this.value" required> 
			<output><%= order.precio %></output>

		<label for="estado">Estado:</label>
			<select name="estado" required>
			  <option value="pendiente" <%= order.estado === 'pendiente' ? 'selected' : '' %>>Pendiente</option>
			  <option value="en_proceso" <%= order.estado === 'en_proceso' ? 'selected' : '' %>>En proceso</option>
			  <option value="entregado" <%= order.estado === 'entregado' ? 'selected' : '' %>>Entregado</option>
			  <option value="incidencia" <%= order.estado === 'incidencia' ? 'selected' : '' %>>Incidencia</option>
			</select>
			
		<label for="plato">plato:</label>
			<select name="plato" required>
				<% plates.forEach(function(plate) { %>
					<% if (order.plato === plate.nombre) { %>
						<option value="<%= plate.nombre %>" selected><%= plate.nombre %></option>
					<% } else { %>
						<option value="<%= plate.nombre %>"><%= plate.nombre %></option>
					<% } %>
				<% }); %>
			</select>

		<label for="nombre_repartidor">Nombre del repartidor:</label>
		<select name="nombre_repartidor" required>
			<% users.forEach(function(user) { %>
				<% if (user.tipo_usuario === "repartidor") { %>
					<% if (order.nombre_repartidor === user.nombre_usuario) { %>
						<option value="<%= user.nombre_usuario %>" selected><%= user.nombre_usuario %></option>
					<% } else { %>
						<option value="<%= user.nombre_usuario %>"><%= user.nombre_usuario %></option>
					<% } %>
				<% } %>
			<% }); %>
		</select>
		
		<button type="submit">Guardar cambios</button>
		<br/>
		<a style="background-color: #0485cf;
			display: inline-block;
			padding: 3%;
			font-size: 16px;
			text-align: center;
			text-decoration: none;
			color: #fff;" href="/admin">
		  Volver
		</a>
	</form>
</body>
</html>