<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editar restaurante</title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>Editar restaurante</h1>

	<form class="formRellenar" method="POST" enctype="multipart/form-data"
	 action="/admin/update-restaurant">
		<input type="hidden" name="id" value="<%= restaurant.id %>">

		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre" value="<%= restaurant.nombre %>" required>

		<label for="tipo_comida">Tipo de comida:</label>
		<input type="text" name="tipo_comida" value="<%= restaurant.tipo_comida %>" required>

		<label for="direccion">Dirección:</label>
		<input type="text" name="direccion" value="<%= restaurant.direccion %>" required>

		<label for="telefono">Teléfono:</label>
		<input type="tel" name="telefono" value="<%= restaurant.telefono %>" required>

		<label for="email">Correo electrónico:</label>
		<input type="email" name="email" value="<%= restaurant.email %>" required>

		<label for="tipologia">Tipología:</label>
		<input type="text" name="tipologia" value="<%= restaurant.tipologia %>" required>

		<label for="logo">Logo:</label>
		<input type="file" name="logo" value="<%= restaurant.logo %>" accept="image/png, image/gif, image/jpeg" required>
		Logo actual: <%= restaurant.logo %>
		<img src="../images/restaurant/<%= restaurant.logo %>" alt="<%= restaurant.logo %>" width="50%" /> 

		<label for="estrellas">Estrellas:</label>
		<input type="number" name="estrellas" style="width: 13%;" 
			value="<%= restaurant.estrellas %>" min="1" max="5" required>

		<button type="submit">Guardar cambios</button>
	</form>

    <div class="button_bottom">
      <a style="background-color: #0485cf;
        display: inline-block;
        padding: 2.35% 50%;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: #fff;" href="/admin">
        Volver
      </a>
    </div>
</body>
</html>