<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editar plato</title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>Editar plato</h1>

	<form class="formRellenar" method="POST" action="/admin/update-plate">
		<input type="hidden" name="id" value="<%= plate.id %>">

		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre" value="<%= plate.nombre %>" required>

		<label for="precio">Precio:</label>
				<input type="range" name="precio" 
				min="0.01" max="100.00" value="<%= plate.precio %>" step="0.01"
				oninput="this.nextElementSibling.value = this.value" required> 
				<output><%= plate.precio %></output>
		
		<label for="imagen">Imagen:</label>
		<input type="file" name="imagen" value="<%= plate.imagen %>" accept="image/png, image/gif, image/jpeg" required>
		Imagen actual: <%= plate.imagen %>
		<img src="../images/plate/<%= plate.imagen %>" alt="<%= plate.imagen %>" width="50%" /> 

		<label for="tipo">Tipo:</label>
		<select name="tipo" required>
			<option value="entrante" <%= plate.tipo === 'entrante' ? 'selected' : '' %>>Entrante</option>
			<option value="principal" <%= plate.tipo === 'principal' ? 'selected' : '' %>>Principal</option>
			<option value="postre" <%= plate.tipo === 'postre' ? 'selected' : '' %>>Postre</option>
			<option value="bebida" <%= plate.tipo === 'bebida' ? 'selected' : '' %>>Bebida</option>
		</select>

		<label for="id_restaurante">Restaurante:</label>
		<select name="id_restaurante" required>
			<% restaurants.forEach(function(restaurant) { %>
				<option value="<%= restaurant.id %>"><%= restaurant.nombre %></option>
			<% }); %>
		</select>
		<button type="submit">Guardar cambios</button>
	</form>

    <div class="button_bottom">
      <a style="background-color: #0485cf;
        display: inline-block;
        padding: 2.35% 50%;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: #fff;" href="/admin">
        Volver
      </a>
    </div>
</body>
</html>