<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
      th {
        background-color: rgb(245, 253, 129);
      }
      tr:nth-child(even) {
        background-color: #48bcff;
      }
      tr:nth-child(odd) {
        background-color: #b6d8ff;
      }
      #ticketContainer {
        background-color: #ffff;
      }
    </style>
    <script>
      function mostrarTicket(pedidoId) {
        // Realiza una solicitud AJAX para obtener el ticket del pedido con el pedidoId
        // Puedes usar fetch o cualquier otra biblioteca de tu elección
        fetch(`/orders/${pedidoId}/ticket`)
          .then(response => response.text())
          .then(ticket => {
            // Muestra el ticket en el contenedor
            document.getElementById("ticketContainer").innerHTML = ticket;
            document.getElementById("ticketContainer").style.display = "block";
          })
          .catch(error => console.error(error));
      }
      function ocultarTicket() {
        document.getElementById("ticketContainer").style.display = "none";
      }
    </script>    
  </head>
  <body>
    <h1>PEDIDOS</h1>

    <div class="topnavhome" id="TopNavHome">
      <!-- TODO: USAR ESTE NAVBAR https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav -->
      
      <a class="active">
        <img src="../images/user.png" alt="user" width="15" />
        <%= user %>
      </a>
      <a class="active" style="background-color:#098023;" href="../restaurants">
        <img src="../images/restaurant.png" alt="restaurant" width="15" />
         Restaurantes
      </a>
      <a href="javascript:void(0);" class="icon" onclick="tabFunctionResponsiveEnable()">
        <i class="fa fa-bars"></i>
      </a>
      
      <form method="POST" action="/logout">
        <button class="btn_button_bottom" type="submit" style="
          display: inline-block;
          padding: 2.35%;
          font-size: 16px;
          text-align: center;
          text-decoration: none;">
          <img src="../images/logout.png" alt="logout" width="10%" />
          Cerrar sesión
        </button>
      </form>
    </div>

    <% if (pedidos.length > 0) { %>
      <p>PULSE SOBRE UN PEDIDO PARA MOSTRAR EL TICKET <br/>PULSE SOBRE EL TICKET PARA OCULTARLO</p>
    <div id="ticketContainer" onclick="ocultarTicket()"></div>
    
    <table>
      <thead>
				<tr>
          <th>Plato</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Dirección</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% pedidos.forEach(pedido => { %>
        <tr onclick="mostrarTicket('<%= pedido.id %>')">
          <td ><%= pedido.plato %></td>
          <td ><%= pedido.cantidad %></td>
          <td><%= pedido.precio %>€</td>
          <td><%= pedido.direccion %></td>
          <td <% if (pedido.estado === 'pendiente') { %> 
              style="background-color: #c75000;" 
            <% } %>
            <% if (pedido.estado === 'cancelado') { %> 
              style="background-color: #1b84f4;" 
            <% } %>
            <% if (pedido.estado === 'en_proceso') { %> 
              style="background-color: #e2e600;" 
            <% } %>
            <% if (pedido.estado === 'entregado') { %> 
              style="background-color: #00bb28;" 
            <% } %>
            <% if (pedido.estado === 'incidencia') { %> 
              style="background-color: #ff0000;" 
            <% } %>>
            <% if (pedido.estado === 'en_proceso') { %>
              en proceso
              <% } else { %>
              <%= pedido.estado %>
            <% } %>
          </td>
          <td>

            <% if (pedido.estado !== 'entregado' && pedido.estado !== 'en_proceso' && pedido.estado !== 'incidencia') { %>
              <form action="/orders/<%= pedido.id %>/change_status" method="POST">
                <input type="hidden" name="estado" value="<%= pedido.estado %>">
                <button type="submit">
                  <% if (pedido.estado === 'cancelado') { %>
                    Deshacer cancelación
                  <% } else { %>
                    Cancelar pedido
                  <% } %>
                </button>
              </form>
            <% } %>

            <% if (pedido.estado === 'cancelado') { %>
              <form action="/orders/<%= pedido.id %>/delete-order" method="POST">
                <input type="hidden" name="estado" value="<%= pedido.estado %>">
                <button type="submit" style="background-color: #ff0000; color: #ffff;">
                  Eliminar
                </button>
              </form>
            <% } %>

          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <p>No hay pedidos.</p>
    <% } %>
  </body>
</html>
