<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Platos <%= restaurant.nombre %></title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <h1>PLATOS DEL RESTAURANTE <br/><%= restaurant.nombre %></h1>
    <div class="user-info">
      <span>Usuario: <%= user %></span>
      <form method="POST" action="/logout">
        <button type="submit">Cerrar sesión</button>
      </form>
    </div>
    <% if (plates.length > 0) { %>
      <ul>
        <% plates.forEach(plate => { %>
          <li><%= plate.nombre %> - $<%= plate.precio %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No plates found.</p>
    <% } %>
    <div class="button_bottom">
      <a style="background-color: #0485cf;
        display: inline-block;
        padding: 2.35% 50%;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: #fff;" href="/restaurants">
        Volver
      </a>
    </div>
  </body>
</html>
