<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <h1>Rellene los datos para registrar</h1>
    <form class="formRellenar" action="/register" method="post">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" value="<%= nombre %>" required>
      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" name="apellidos" value="<%= apellidos %>" required>
      <label for="fecha_nacimiento">Fecha de nacimiento:</label>
      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="<%= fecha_nacimiento %>" required
            min="1900-01-01" max="2600-01-01" value="2000-01">
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" name="direccion" value="<%= direccion %>" required>
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" value="<%= telefono %>" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= email %>" required>
      <label for="municipio">Municipio:</label>
      <input type="text" id="municipio" name="municipio" value="<%= municipio %>" required>
      <label for="nombre_usuario">Nombre de usuario:</label>
      <input type="text" id="nombre_usuario" name="nombre_usuario" value="<%= nombre_usuario %>" required>
      <label for="contrasena_usuario">Contraseña:</label>
      <input type="password" id="contrasena_usuario" name="contrasena_usuario" value="<%= contrasena_usuario %>" required>
      <% if (error) { %>
        <div style="color: red;"><%= error %></div>
      <% } %>
      <button type="submit">Registrar</button>
    </form>
      <div class="button_bottom">
        <a style="background-color: #0485cf;
          display: inline-block;
          padding: 5% 50%;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          color: #fff;" href="/login">
          Volver
        </a>
      </div>
  </body>
</html>