<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <h1>RESTAURANTES</h1>
    <div class="user-info">
      <!-- TODO: USAR ESTE NAVBAR https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav -->
      <span>
        <img src="images/user.png" alt="user" width="40" />
        <%= user %>
      </span>
      <form method="POST" action="/logout">
        <button type="submit">Cerrar sesión</button>
      </form>
    </div>
    <div style="padding: 8px 16px; text-align: center;">
    <% if (restaurants.length > 0) { %>
        <% restaurants.forEach(restaurant => { %>
            <a href="/plates/<%= restaurant.id %>" class="button_restaurant"
              style="display: inline-block;
                padding: 8px 16px;
                background-color: #faca83;
                color: #000000;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 4px;
                cursor: pointer;">
              <img src="images/restaurant/<%= restaurant.logo %>" alt="<%= restaurant.logo %>" width="300" height="200" />
              <%= restaurant.nombre %> <br/>
              <%= restaurant.tipo_comida %> <br/>
              <%= restaurant.direccion %> <br/>
              <%= restaurant.telefono %> <br/>

              <% for (let i = 1; i <= 5 + 1; i++) { %>
                <% const starNum = i - 1 %>
                <% if (starNum < restaurant.estrellas) { %>
                  <img src="images/star.png" alt="star" width="30px" />
                <% } %>
                <% if (starNum > restaurant.estrellas) { %>
                  <img src="images/star_empty.png" alt="no_star" width="30px" />
                <% } %>
              <% } %>
            </a>
        <% }); %>
    <% } else { %>
      <p>No se ha encontrado ningún restaurante.</p>
    <% } %>
    </div>
  </body>
</html>
